{% extends 'base.html' %}
{% load static %}

{% block title %}
  Полезные советы - {{ block.super }}
{% endblock %}


{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-md-2">
            <h1 class="mb-5">Полезные советы :</h1>
			<p> С чего начать

— Первое, что нужно сделать человеку, который хочет взять питомца – убедиться в том, что у него и его домочадцев нет аллергии на животных. Если же есть какие-то сомнения на этот счет, то лучше провериться, такие анализы можно сдать в любой лаборатории. 

Затем нужно выбрать само животное – в Интернете (по фото/видео) или вживую в одном из приютов. Далее нужно связаться с куратором или с приютом, где находится животное, и начать выяснять про него конкретную информацию. 
</p>

<p> <br>До привода собаки в дом:<br>

    Определите, где собака будет проводить большую часть своего времени.

От изменения окружающей среды собака будет находиться в стрессовом состоянии и на некоторое время может забыть правила поведения в доме. Лучшим местом, куда для начала можно поселить собаку, почти всегда будет кухня, т.к. ее легче всего чистить.

    Подготовьте место для сна.

Если Вы планируете поставить конуру для собаки, домик или организовать специальное место для сна, то сделайте это заранее. Все должно быть готово до прихода собаки в дом.

    Подготовьте квартиру.

Подготовьте квартиру или комнату, где первые несколько месяцев собака будет проводить большую часть времени. Уберите или замотайте лентой свободные электрические шнуры; спрячьте бытовую химию в закрытые шкафы или поставьте на высокие полки, уберите растения и хрупкие предметы с пола.

    Составьте общий язык общения с собакой для всей семьи.

Обучение собаки начнется с первых минут её появления в доме. Найдите время и создайте список команд, которые Вы и Ваши родственники будут использовать при общении с новым членом семьи. Это поможет избежать путаницы и поможет собаке быстрее научиться Вас понимать. (Если собака уже взрослая, будьте готовы к тому, что из-за предыдущих хозяев на некоторые слова-команды она может реагировать не так, как Вы ждете. Наберитесь терпения, собака должна привыкнуть к Вам).

    Подготовьте ошейник с Вашими контактными данными.

Как только Вы заберете собаку из приюта или от предыдущих хозяев, наденьте на нее ошейник, на котором будут указаны Ваше имя и телефон. Это обеспечит дополнительную безопасность при поездке домой и в первые несколько непростых дней.
           </p>
		   </div>
    </div>
</div>

{% endblock %}