{% extends 'base.html' %}
{% load static %}

{% block title %}
  Вопросы и ответы - {{ block.super }}
{% endblock %}


{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-md-2">
            <h1 class="mb-5">Вопросы и ответы:</h1>
			<p> <br>Я немного боюсь брать животное из приюта. Вдруг оно чем-то болеет?</br>

И в государственных, и в частных приютах животные должны проходить ряд необходимых медицинских процедур. После отлова собаку или кошку помещают в отдельную комнату на карантин. Животное осматривает врач, ему делают прививки от бешенства и вирусных заболеваний, избавляют от паразитов. По возможности стерилизуют или кастрируют. Если зверю требуется серьезная операция, волонтеры могут привлечь специалистов из ветеринарной клиники. 

На благотворительные выставки и фестивали обычно попадают только те животные, которым уже сделали все необходимые процедуры.

Не надо бояться, что животное болеет, надо узнать все о состоянии его здоровья. Ветеринарный врач рассказывает, что чаще всего проблемы с питомцем возникают из-за недостатка информации. Потенциальный хозяин должен узнать как можно больше о медицинской истории своего будущего друга. Не надо верить никому на слово — у всех животных в приюте должны быть документы. 

"Болела? Не болела? Если производились обработки от блох и глистов — когда, какими препаратами? То же касается прививок. Все это должно быть 
в документах. Либо это должна быть выписка, либо паспорт с наклейкой, печатью клиники и подписью врача", — предупреждает ветеринар.
</p>
<p><br>Как выбрать питомца?</br>

Врач напоминает, что питомца проще воспитать "с нуля", поэтому неопытным хозяевам рекомендует брать щенков и котят. Если животное взрослое, необходимо узнать, каким образом оно попало в приют. Прошлое может повлиять на привычки и поведение питомца. "Если собака уже жила на улице, приручить ее к квартире будет сложнее. Такую собаку лучше брать на дачу или в частный дом", — рассказывает ветеринарный врач.

Чаще всего люди приезжают в приют, уже понимая, с какой собакой они хотят познакомиться. Увидели листовки или фотографии в интернете и влюбились. Если животное ответило вам взаимностью сразу — прекрасно! Если нет — не торопитесь с выводами. Многим четвероногим, особенно тем, кого уже когда-то бросили, может понадобиться время, чтобы проникнуться к вам доверием.

"Нужно познакомиться с собакой, с волонтерами, чтобы они рассказали о характере животного. Желательно приезжать не один раз, чтобы понять, что ты действительно хочешь именно эту собаку", — советует эксперт, успевшая побывать в Кожуховском приюте и в роли волонтера, и в роли руководителя.

Если у вас уже есть любимец, можно приехать в приют вместе с ним, чтобы избежать неприятных сюрпризов. Если дома у вас мальчик — из приюта лучше взять девочку, и наоборот. Также важно узнать, как животное реагирует на детей, и удостовериться, нет ли у членов семьи аллергии.
</p>
<p>
<br>Кто может забрать животное?</br>
Человек, который решил взять животное — увидел в приюте, — должен позвонить и пройти телефонное собеседование. Основные моменты, по которым происходит отбор потенциального нового владельца, — это группа возраста: мы отдаем предпочтение молодым людям от 25 лет, не служившим в армии, и девушкам от 25 лет. Максимальный возраст отдачи — 55–60 лет при условии, что люди одинокие. Но если люди не одинокие, то есть у них есть дети, племянники, внуки и так далее, тогда можно оформить договор на кого-то из них, если, конечно, они готовы взять на себя ответственность и забрать животное, в случае если с пожилым человеком что-то случится.
Мы ставим вопрос по каждому животному отдельно. Если это собака, то куда она берется: загородный дом или квартира? Если это квартира, то постоянно ли там проживают будущие хозяева, не уезжают ли на дачу? Если уезжают, то как животное будет содержаться там. Когда потенциальные владельцы говорят: мы уезжаем, там животное будет гулять по участку, то сразу нет. Если, допустим, люди уверяют, что уезжают на дачу, но при этом животное будет жить в доме, тогда уже можно разговаривать по-другому. Еще один важный момент: в квартирах на окнах обязательно должны быть сетки.
</p>
            </div>
    </div>
</div>

{% endblock %}