{% extends 'base.html' %}
{% load static %}

{% block title %}
  Разработчики - {{ block.super }}
{% endblock %}

{% block content %}



    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bradcam_text text-center">
                        <h3>Разработчики</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bradcam_area_end -->

    
    <!-- service_area_end -->

    <!-- testmonial_area_start  -->
    <div class="testmonial_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="textmonial_active owl-carousel">
                        <div class="testmonial_wrap">
                            <div class="single_testmonial d-flex align-items-center">
                                <div class="test_thumb">
                                    <img src="{% static "img/testmonial/1.jpg" %}" alt="">
                                </div>
                                <div class="test_content">
                                    <h4>Никита Палтусов</h4>
                                    <span>Директор</span>
                                    <p>«Когда вы создаете собственную компанию, это больше похоже на искусство, чем на науку, ведь вы ничего не знаете. Вместо решения профильных проблем, попробуйте решить что-нибудь глубоко личное для вас самих. Всё будет идеально, если вы будете обычным человеком и просто решите собственную проблему способом, который может помочь миллионам других людей».</p>
                                </div>
                            </div>
                        </div>
						
                        <div class="testmonial_wrap">
                            <div class="single_testmonial d-flex align-items-center">
                                <div class="test_thumb">
                                    <img src="{% static "img/testmonial/2d.jpg" %}" alt="">
                                </div>
                                <div class="test_content">
                                    <h4>Андрей Дудкин</h4>
                                    <span>Идейный специалист</span>
                                    <p>«Тренируйте людей достаточно хорошо, чтобы они могли уходить, относитесь к ним достаточно хорошо, чтобы они не хотели».</p>
                                </div>
                            </div>
                        </div>
                        <div class="testmonial_wrap">
                            <div class="single_testmonial d-flex align-items-center">
                                <div class="test_thumb">
                                    <img src="{% static "img/testmonial/3p.jpg" %}" alt="">
                                </div>
                                <div class="test_content">
                                    <h4>Александр Поляков</h4>
                                    <span>Фронт-энд специалист</span>
                                    <p>«По-хорошему, больше половины популярных работ были написаны просто отвратительно. Вернее, хайп вокруг них совершенно не соответствует качеству кода и уровню поддержки от организаторов. Но поскольку на Front подсаживалась сразу куча людей, он выживал и продолжал существовать».</p>
                                </div>
								</div>
								</div>
								<div class="testmonial_wrap">
                            <div class="single_testmonial d-flex align-items-center">
                                <div class="test_thumb">
                                    <img src="{% static "img/testmonial/4r.jpg" %}" alt="">
                                </div>
                                <div class="test_content">
                                    <h4>Валерий Руссу</h4>
                                    <span>Бэк-энд специалист</span>
                                    <p>«Пользователь совершает действие, а реакция сервиса или сайта на него затрагивает нужную часть бэкенда. В это понятие входит всё, что позволяет вам реализовывать логику работы тех функций, которые предоставляет интерфейс».</p>
                                </div>
								</div>
								</div>
								<div class="testmonial_wrap">
                            <div class="single_testmonial d-flex align-items-center">
								<div class="test_thumb">
                                    <img src="{% static "img/testmonial/5sh.jpg" %}" alt="">
                                </div>
                                <div class="test_content">
                                    <h4>Дмитрий Шалькин</h4>
                                    <span>Специалист БД</span>
                                    <p>«Data science может показаться на первый взгляд сложным — и так оно и есть! Однако, удивительный факт в том, что data science можно сравнить с луковицей: надо изучать слой за слоем. Это называется top-down approach, когда ты сначала на примитивном уровне смотришь, как работают алгоритмы, как за пару строк можно натренировать нейросеть — без фактического знания процессов — просто задаешь входные данные, пару строк кода, и все. Первый слой луковицы снят. Дальше больше. Тебе становится интересно, ты хочешь уже узнать — как. Как оно работает? Ты погружаешься глубже, смотришь на код, реализацию. Потом тебе становится интересно, почему этот код написан так. Оказывается, что есть теоретические обоснования. И так далее. Поддерживайте в себе интерес. Начинайте с верхней части, она вдохновляет. Почитайте Ричарда Фейнмана, он много писал про такой подход».</p>
                                </div>
                            </div>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- testmonial_area_end  -->

    
{% endblock %}